:root{
  --main-grey: #282c34;
  --main-dark-grey: #1c1e21;
  --main-white: #ffffff;
  --main-green: #729c62;
  --main-light-green: #29e020;
  --main-red: #ff0000;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--main-white);
}



.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-bottom: 50px;
}

.Stock-Mock-logo {
  display: block;
  height: 20vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.form-header {
  margin-bottom: 30px;
  font-weight:500;
}

.form-footer {
  margin-top: 20px;
}

.label {
  text-align: left;
  display: block;
  font-weight: bolder;
}

input {
  width: 100%;
  margin-bottom: 15px;
}

.submit-button {
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  background: none currentcolor;
  border: 0px;
  font: inherit;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: unset;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 44px;
  color: var(--main-white);
  max-width: 420px;
  min-width: 120px;
}

.submit-button-content {
  color: black;
}

.error-message {
  color: #ff0000;
}

.portfolio-container {
  display: inline-flex;
}

.portfolio-value-container {
  border: solid var(--main-dark-grey);
}

.portfolio-stocks-container {
  border: solid var(--main-dark-grey);
}

.stocks-header {
  text-align: left;
  margin-left: 5%;
}

.stock-ul{
 padding: 0;
}

.stock-list-tile {
  width: 95%;
  border: solid var(--main-dark-grey);
  display: flex;
  margin: 2%;
}

.stock-list-tile-left-half {
  width: 30%;
}

.stock-list-tile-right-half {
  width: 70%;
}

.ticker-text {
  margin-bottom: 0px;
}

.shares-text {
  margin-top: 0px;
}

.stock-price-text {
  margin-bottom: 0px;
}

.stock-bought-price-text {
  margin-top: 0px;
}

.sell-quantity-input {
  width: 20%;
  text-align: center;
}

.users-list-body-container {
  display: inline-flex;
}

.all-users-list {
  border: solid var(--main-dark-grey);
}

.users-following-list {
  border: solid var(--main-dark-grey);
}

.profile-container {
  display: inline-flex;
}

.purchase-history-container {
  border: solid var(--main-dark-grey);
}

.purchase-history-header {
  margin-bottom: 0px;
}

.follows-box {
  border: solid var(--main-dark-grey);
}

.profile-info-container {
  border: solid var(--main-dark-grey);
}